.errMessage {
    position: absolute;
}

.form {
    margin: 0 2rem;
}

.pos {
    position: relative;
}

.pos2 {
    position: absolute;
    left: 50.5%;
}

.pos3 {
    position: absolute;
    right: 50.5%;
}
